/* app/global.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}

/* Add any other global styles here */